<table>
	<thead>
		<th>Id</th>
		<th>Url</th>
		<th>Short url</th>
		
	</thead>
	<tbody>
		<% @urls.each do |url| %>
			<tr>
				<td><%= url.id %></td>
				<td><%= text_field_tag(url.url, url.url)  %></td>
				<td><%= url.short %></td>
				<td><%= sumit_tag 'Copy Url'  %></td>
			</tr>
		<% end -%>
	</tbody>
</table>




