// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	font-family: Verdana;

}
input{
	width: 400px;
	height: 20px;
	font-size: 20px;
}
input[type=submit]{
	width:80px;
	
}
