// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	font-family: Verdana;
	margin: 0;

}
input{
	width: 400px;
	height: 20px;
	font-size: 20px;
}
input[type=submit]{
	width:80px;
	
}
.url_input{
	font-size:10px;
	width: 180px;
}
.container{
	width: 100%;
	background-color: red;
	margin: auto;
	height: 300px;
	text-align: center;

}
.button{
	height: 20px;
	
	border: none;
	padding: 0;
}
#url{
	height: 20px;
	border: none;
	margin: 0;
	padding: 0;
}